%h1 Wedstrijden

.start-match
  %table
    %tr
      %th Title
      %th Description
      %th Prize
      %th Deadline
      %th Eigenaar

    - @competitions.each do |competition|
      %tr
        %td= link_to competition.title, competition
        %td= competition.description
        %td= competition.prize
        %td= competition.prize_2
        %td= competition.prize_3
        %td= competition.deadline
        %td= competition.user.name
        - if current_user == competition.user 
          %td= link_to 'Edit', edit_competition_path(competition)
          %td= link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
  - if signed_in?
    = link_to 'Nieuwe wedstrijd aanmaken', new_competition_path

  
