%h1 Wedstrijden

%table
  %tr
    %th Title
    %th Description
    %th Prize
    %th Deadline
    %th
    %th
    %th

  - @competitions.each do |competition|
    %tr
      %td= competition.title
      %td= competition.description
      %td= competition.prize
      %td= competition.deadline
      %td= link_to 'Show', competition
      %td= link_to 'Edit', edit_competition_path(competition)
      %td= link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nieuwe wedstrijd aanmaken', new_competition_path
