%p#notice= notice

#match-info
  %div
    %h1
      = @competition.title
    %p
      %b Description:
      = @competition.description
    %p
      %b Prize:
      = @competition.prize
      = @competition.prize_2
      = @competition.prize_3
    %p
      %b Deadline:
      = @competition.deadline.strftime('%e %B %Y')
    %p
      %b Deadline:
      = @competition.deadline_signin.strftime('%e %B %Y')  
- if signed_in?
  - if current_user == @competition.user || current_user.administrator?          
    = link_to 'Edit', edit_competition_path(@competition)
    \|
  = link_to 'Back', competitions_path
  - if signed_in?
    = link_to 'Klik om mee te doen!', new_picture_path(:competition_id => @competition)
  #btn-vote
    Breng je stem uit!

#container-art-bg
  #container-art
    %h1 Kies één
    - @competition.pictures.shuffle.each do |picture|
      .art
        = link_to picture.title, picture, :class => "art-name"
        = link_to upvote_picture_path(picture), :remote => true, "data-type" => :json do
          = image_tag(picture.image_url)
        -# = pluralize(picture.votes.count, "vote" )
        -# %span
          -# %div
            -# %p
              -# \ #{pluralize(picture.votes.count, "" )}
    #container-thanks
      %p Bedankt voor het stemmen, klik hier om te sluiten
  
#container.js-masonry
  - @competition.pictures.shuffle.each do |picture|
    .item
      = link_to picture do
        = image_tag(picture.image_url)
      = link_to picture.title, picture, :class => "art-name"
      Door:
      = picture.user_name
      - if signed_in?
        - if current_user == @competition.user || current_user.administrator? 
          #{pluralize(picture.votes.count, "" )}
          -# = pluralize(picture.votes.count, "vote" )
          -# %span
            -# %div
              -# %p
                -# \ #{pluralize(picture.votes.count, "" )}

