%p#notice= notice

#match-info
  %h1
    = @competition.title
  %p
    %b Description:
    = @competition.description
  %p
    %b Prize:
    = @competition.prize
  %p
    %b Deadline:
    = @competition.deadline

#container.js-masonry
  - @competition.pictures.each do |picture|
    .item
      = link_to picture do
        = image_tag(picture.image_url)
      = link_to picture.title, picture, :class => "art-name"
      -# %span
        -# %div
          -# %p
            -# \ #{pluralize(picture.votes.count, "" )}

= link_to 'Klik om mee te doen!', new_picture_path(:competition_id => @competition)

= link_to 'Edit', edit_competition_path(@competition)
\|
= link_to 'Back', competitions_path
