<div id="content">
  <div id="container-art">
    <div id="overlay-booth">
      <div id="container-content">
        <div id="close">
          Close
        </div>
        <div id="container-image"></div>
        <p>
          Uitleg etc
        </p>
      </div>
    </div>
      <h1>
        Maak een top <%= @competition.pictures.count %> en stem
      </h1>
      <%= flash[:notice] %>
      <table>
        <tr>
          <% @count = 0 %>
          <% @competition.pictures.each do %>
            <% @count = @count + 1 %>
            <td><h2><%= @count %> </h2></td>
          <% end %>
        </tr>
      </table>
      <ul id="picturelist" data-update-url="<%= sort_pictures_url%>">
        <% @competition.pictures.order("position").each do |picture| %>
          <%= content_tag_for :li, picture do %>
            <%= image_tag(picture.image_url) %>
          <% end %>
        <% end %>
        </u>
        <div class="votebutton"><h1></h1><%= button_to "Stem", submit_vote_competition_path(@competition), disable_with: "Aan het stemmen" %></div>
    </div>
  </div>
</div>
