#attend-match
  %h1 Wedstrijden
  
    
  = form_for @picture, :html => {:multipart => true} do |f|
    #attend-button
      #container-add-art
        = f.file_field :image
        %img(id='prev_img' src='')

    .field
      %label{:for => "title-art"} 
        %span Titel
      = f.text_field :title, :placeholder => 'Voer titel in'

      %label{:for => "story-art"} 
        %span Omschrijving
        van uw kunst
      = f.text_area :description, :placeholder => 'Voer beschrijving in'

      = f.submit "Doe mee", :id => "btn"

:javascript
  var $input = $('#container-add-art input');
  $input.on('change', function(){
    var input = $input[0];
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(evt) {
        $('#prev_img').attr('src', evt.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  });