#attend-match
  %h1 Wedstrijden
  
    
  = form_for @picture, :html => {:multipart => true} do |f|
    #container-attend
      %span Afbeelding
      #container-btn
        %img(id='prev_img' src='')
        = f.file_field :image

    .field
      %label{:for => "title-art"} 

        %span Titel
      = f.text_field :title, :placeholder => 'Voer titel in'

      %label{:for => "story-art"} 
        %span Omschrijving van uw kunst
      = f.text_area :description, :placeholder => 'Voer beschrijving in'
      = f.submit "Doe mee", :id => "btn"