= javascript_include_tag "application", "data-turbolinks-track" => true 
#attend-match
  = form_for @picture, :html => {:multipart => true} do |f|
    #container-attend
      #container-btn
        %img(id='prev_img' src='')
        = f.file_field :image
        = f.hidden_field :image_cache, :value => @picture.image_cache
        = image_tag(@picture.image_url, :width => 200, :id => "img_cache")

    .field
      %label{:for => "title-art"} 

        %span Titel
      = f.text_field :title, :placeholder => 'Voer titel in'

      %label{:for => "story-art"} 
        %span Omschrijving van uw kunst
      = f.text_area :description, :placeholder => 'Voer beschrijving in'
      = f.hidden_field :competition_id
      = f.submit "Doe mee", :id => "btn"