#container.js-masonry

 
-# %h1 Kunst Uploaden

-# = link_to 'Klik om mee te doen!', new_picture_path

-# #container-vote
  -# #btn
    -# Stem mee

-# #container-art-bg

-# #container-art
  -# #container-thanks
    -# %p Bedankt voor het stemmen

%h1 Kies één
- @pictures.shuffle.each do |picture|
  .art 
    = link_to picture.title, picture
    = picture.description
    = image_tag(picture.image_url, :width => 200)
    = pluralize(picture.votes.count, "vote" )
    = link_to 'Vote', upvote_picture_path(picture), :remote => true, "data-type" => :json

      