!!!
%html
  %head
    %title Wisemonkeys
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    // %link{href: "http://fonts.googleapis.com/css?family=Muli:400,300italic", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "masonry.pkgd.js", "data-turbolinks-track" => true
    = javascript_include_tag "imagesloaded.pkgd.js", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #bg-overlay
    #header
      #logo
        %a{:href => "/"}
          = image_tag 'logo.png'
      #menu
        %a{:href => "/"}Menu +
        %ul
          %li 
            %a{:href => "/"}Join appSYNTH
          %li 
            %a{:href => "/"}Wedstrijd aanmaken
          %li 
            %a{:href => "/"}Sponsoren
          %li 
            = link_to 'Kunst bekijken', voteresults_path
          %li 
            %a{:href => "/"}Contact opnemen
          %li 
            %a{:href => "/"}Menu sluiten
      #register
        %a{:href => "/"}Registreren
      #twitter
        = image_tag 'icon-twitter.png'
      #facebook
        = image_tag 'icon-facebook.png'
      #login
        %a{:href => "google.com"} Inloggen
        %ul
          %li 
            Gebruikersnaam of email adres
          %li
            %input 
          %li 
            Wachtwoord
          %li
            = password_field_tag 'password'
          %li 
            %a{:href => "/"}Wachtwoord vergeten?
            %button Inloggen
    #container-content
      = yield