%html
  %head
    %title Wisemonkeys
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag     "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
    // %link{href: "http://fonts.googleapis.com/css?family=Muli:400,300italic", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
    = csrf_meta_tags
  %body
    #bg-overlay
    #feedback
      #feedback-form
        = render :partial => 'reviews/form'
      %p
        F
        %br
        E
        %br
        E
        %br
        D
        %br
        B
        %br
        A
        %br
        C
        %br
        K
    #header
      #logo
        %a{:href => "/"}
          = image_tag 'logo.png'

      #menu
        %a{:href => "/"}
          Menu
          %span +
        %ul
          %li 
            = link_to 'Join appSYNT', new_user_path
          %li 
            = link_to 'Wedstrijden', competitions_path
          %li 
            %a{:href => "/"}Sponsoren
          %li 
            = link_to 'Kunst bekijken', voteresults_path
          %li 
            %a{:href => "/"}Contact opnemen
          %li 
            - if signed_in?
              - unless current_user.administrator?
                = link_to "Ondernemers", new_businessrequest_path
            - if signed_in? && current_user.administrator?
              = link_to "administrator tools", users_path

      #register
        - if signed_in? 
          = link_to current_user.name, current_user
          - if current_user.activated?
            X
          - else
            nog niet geactiveerd
        - else
          %span
          = link_to 'Registreren', new_user_path
          
      #login
        - if signed_in?
          - unless current_user.administrator? || current_user.b_account?
            = link_to "Ondernemersaccount aanvragen", new_businessrequest_path
        - if signed_in? && current_user.administrator?
          = link_to "administrator tools", users_path
        - if signed_in? 
          = link_to "Uitloggen", signout_path, method: "delete" 
        - else
          %span
          = link_to "Inloggen", signin_path
          %ul#form
            .close
              X
            = render :partial => 'sessions/form'

      #search
        %input{:name => "search", :value => "Zoeken op kunst of kunstenaar" }
        %button{:name => "Zoeken", :value => "Zoeken"}

    #container-content
      = yield
      #push

    #footer
      .content
        %h3 
          appsynt
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac eros eget mauris blandit aliquam. In ac purus neque. Praesent faucibus a mauris an ac purus neque. 
          %br
          %br
          Praesent faucibus a mauris att Maecenas ac enim id turpis

      .content.contact
        %h3 
          contact
        %p 
          info@appsynt.nl
          %br
          Ergensstraat 7b 8977DX Amsterdam
          %br
          T +32 132456789
          %br
          F +32 132465798

      .content.twitter
        %h3 
          recente tweets
        .twitter
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac eros eget mauris blandit aliquam.
          .avatar
            =image_tag("twitter_ava.png")
        .twitter
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac eros eget mauris blandit aliquam. 
          .avatar
            =image_tag("twitter_ava.png")
        .twitter
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac eros eget mauris blandit aliquam.
          .avatar
            =image_tag("twitter_ava.png")
    
      #copyright
        © 2014 Appsynth. All rights reserved.
