!!!
%html
  %head
    %title Wisemonkeys
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag     "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
    // %link{href: "http://fonts.googleapis.com/css?family=Muli:400,300italic", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "masonry.pkgd.js", "data-turbolinks-track" => true
    = javascript_include_tag "imagesloaded.pkgd.js", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
    = csrf_meta_tags
  %body
    #bg-overlay
    #feedback
      #feedback-form
        = render :partial => 'reviews/form'
      %p
        F
        %br
        E
        %br
        E
        %br
        D
        %br
        B
        %br
        A
        %br
        C
        %br
        K
    #header
      #logo
        %a{:href => "/"}
          = image_tag 'logo.png'
      #menu
        %a{:href => "/"}
          Menu
          %span +
        %ul
          %li 
            = link_to 'Join appSYNT', new_user_path
          %li 
            = link_to 'Wedstrijden', competitions_path
          %li 
            %a{:href => "/"}Sponsoren
          %li 
            = link_to 'Kunst bekijken', voteresults_path
          %li 
            %a{:href => "/"}Contact opnemen
          %li 
            %a{:href => "/"}Menu sluiten
      #register
        - if signed_in? 
          = link_to current_user.name, current_user
        - else
          = link_to 'Registreren', new_user_path
      #twitter
        = image_tag 'icon-twitter.png'
      #facebook
        = image_tag 'icon-facebook.png'
      #login
        - if signed_in?
          = link_to "Ondernemersaccount aanvragen", new_businessrequest_path
        - if signed_in? && current_user.administrator?
          = link_to "administrator tools", users_path
        - if signed_in? 
          = link_to "Uitloggen", signout_path, method: "delete" 
        - else
          = link_to "Inloggen", signin_path
          %ul
            = render :partial => 'sessions/form'

    #container-content
      = yield