!!!
%html
  %head
    %title Wisemonkeys
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Muli:400,300italic", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #header
      #logo
        %a{:href => "/"}
          = image_tag 'logo.png'
      #menu
        %a{:href => "/"}Menu +
      #register
        %a{:href => "/"}Registreren
      #twitter
        = image_tag 'icon-twitter.png'
      #facebook
        = image_tag 'icon-facebook.png'
      #login
        %a{:href => "google.com"} Inloggen
    = yield